@model IEnumerable<ThAmCo.Events.Data.Event>

@{
    ViewData["Title"] = "Events";
}
<link rel="stylesheet" href="~/css/events.css"/>
<h2>Event List</h2>
<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Homepage</a> |
    <a asp-action="Create">Create New</a>
</p>

@*Warning messages*@
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Attention!</strong> There are fewer than one member of staff per 10 guests assigned to an Event!
</div>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Attention!</strong> There is not a first-aider assigned to an Event!
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Title)
            </td>    
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>

   
