@model IEnumerable<ThAmCo.Catering.Data.FoodBooking>

@{
    ViewData["Title"] = "Index";
}

<h2>Food Booking List</h2>

<p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Homepage</a> |
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.MenuId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodBookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodBookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodBookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
